{% extends "base.html" %}
{% block announce %}
  <a href="http://localhost:3000" style="display:flex;align-items:center;justify-content:center;gap:6px;">
    Parent? Visit the CTRC Information Hub &rarr;
  </a>
{% endblock %}
{% block htmltitle %}
  {% if page.is_homepage %}
    <title>{{ config.site_name }}</title>
  {% elif page.meta and page.meta.title %}
    <title>{{ page.meta.title }} | {{ config.site_name }}</title>
  {% elif page.title and not page.is_homepage %}
    <title>{{ page.title | striptags }} | {{ config.site_name }}</title>
  {% else %}
    <title>{{ config.site_name }}</title>
  {% endif %}
{% endblock %}
